.back-arrow-c {
  position: fixed;
  color: white;
  font-size: 1.4rem !important;
  top: 0.6rem;
  left: 0.6rem;
}

.Customer-header {
  text-align: center;
  background: var(--bg);
  color: white;
  font-size: 1.4rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 6px 2px black;
  margin-bottom: 1rem;
}

.cust-inputs input {
  width: 90vw;
  margin: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box; 
  border-radius: 1rem;
  display: flex;
}

.done {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--bg);
  color: white;
  font-size: 1.4rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.7rem;
}

.Invoice-arrow {
  font-size: 1.4rem;
  margin-left: 0.4rem;
}

.productname th {
  text-align: left;
  font-size: 15px;
  padding: 0.2rem;
}
.productdetail td {
  text-align: left;
  font-size: 15px;
  padding: 0.2rem;
}
.total {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.total p {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-size: 18px;
}
.total span {
  width: 20%;
}
.totalAmount {
  font-size: 22px;
  background: black;
  color: white;
  width: fit-content;
  margin: auto;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.invoice-content {
  padding: 1rem;
}
.invoice-content img {
  height: 3rem;
  width: 3rem;
  display: flex;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders collapse */
  margin-top: 10px; /* Top margin similar to 'margin: [0, 10, 0, 0]' */
}

th,
td {
  border: 1px solid black; /* Add border to cells */
  padding: 8px; /* Padding for table cells */
  text-align: center; /* Center align for both headers and content */
}

td {
  text-align: left;
}
th {
  background-color: #f2f2f2; /* Optional: Add background color to header */
}

td:first-child {
  width: 100%; /* Corresponds to '*' in widths */
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  width: auto; /* Corresponds to 'auto' in widths */
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popupButton {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.popupCloseButton {
  margin-top: 10px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
